header {
    margin:2vh 2.5vw 0vw 2.5vw ;
    display: flex;
    justify-content: space-between;
}

@font-face {
    font-family: VintageRoveryRegular;
    src: url(icons/vintage_rovery/Vintage\ Rovery.otf);
}

.navButton {
    border:none;
    background-color: white;
    font-size: 1.5rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: VintageRoveryRegular ;
}

h1 {
    color: rgb(203,45,44) ; 
}

#alertBox {
    display:none;
    position: fixed;
    width: 200px;
    height:100px;
    background-color: white;
    color:purple;
    font-size: 1.2rem;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 30px 10px ;
    border-radius: 3.5px;
    align-items: center;
    justify-content: center;
}

#guessContainer {
    display: grid;
    grid-template-columns: 15.25vw 15.25vw 15.25vw 15.25vw 15.25vw  ;
    grid-template-rows: 15.25vw 15.25vw 15.25vw 15.25vw 15.25vw 15.25vw;
    grid-gap: 1vw ;
    width: 80vw;  
}

.letterBox {
    color:rgb(229,229,229);
    background-color: rgb(181,175,161);
    border-radius: 3.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    font-weight: bolder;
    font-size: 1.6rem;
    cursor: pointer;
}

#alphabetContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    margin-top: 5vh; 
}

.keyboard-row{
    margin-bottom: 1vh;
}

.alphabet,#checkButton,#backSpaceButton {
    border:none;
    background-color: white;
    color: rgb(211,206,194);
    font-size: 0.8rem;
    font-weight: bolder;
    margin: 2px;
    cursor: pointer;
}

#checkButton{
    color: rgb(203,47,47);
}

.navButton {
    font-size: 2.2rem;
}

#burgerMenuPopUp {
    display: none;
    position: absolute;
    box-shadow: 0px 0px 20px 5px purple;
    border-radius: 3.5px;
    background-color: white;
}
#burgerMenuPopUpButton{
    cursor: pointer;
}
.menuButton{
    border-bottom: 2px solid purple;
    padding: 1vh 1vw 1vh 1vw;
    cursor:pointer;
    
}
#displayHelpButton{
    border: 3px solid black;
    border-radius: 50%;
    font-size: 1.2rem;
    cursor: pointer;
}
#helpPopUp {
    display: none;
    position: fixed;
    width: 80vw;
    box-shadow: 0px 0px 20px 5px purple;
    border-radius: 3.5px;
    overflow: hidden;
    left: 3%;
    top: 2.5%;
    background-color: white;
}
/* @media  */