header {
    display: flex;
}
@font-face {
    font-family: VintageRoveryRegular;
    src: url(icons/vintage_rovery/Vintage\ Rovery.otf);
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    font-family: VintageRoveryRegular ;
}

h1 {
    color: rgb(203,45,44) ;
}

#alertBox {
    display:none;
    position: fixed;
    width: 200px;
    height:100px ;
    background-color: rgb(220,225,237);
    left: 22.2%;
    bottom: 56%;
    box-shadow: 0px 0px 30px ;
    border-radius: 3.5px;
    align-items: center;
    justify-content: center;
}

#guessContainer {
    display: grid;
    grid-template-columns: 40px 40px 40px 40px 40px  ;
    grid-template-rows: 40px 40px 40px 40px 40px 40px ;
    grid-gap: 10px ;
    width: 240px;  
}

.letterBox {
    color:rgb(229,229,229);
    background-color: rgb(181,175,161);
    border-radius: 3.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    font-weight: bolder;
    font-size: 1.6rem;
}

#alphabetContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin-top: 40px;
    
}
.keyboard-row{
    margin-bottom: 15px;
}


.alphabet,#checkButton,#backSpaceButton {
    border:none;
    background-color: white;
    color: rgb(211,206,194);
    font-size:15px ;
    font-weight: bolder;
    margin:1px;
}
#checkButton{
    color: rgb(203,47,47);
}